* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-width: 100vw;
    min-height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

h1{
    padding: 2rem 0;
}

p {
    padding: 0.8rem 0;
}

.box {
    border: 2px solid red;
    height : 70vh;
    width: 70vw;
}