* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button {
    margin-top: 3rem;
    width: 20rem;
    height: 4rem;;
    color: white;
    border-radius: 2rem;
    border: 3px solid white;
    box-shadow: 1rem 1rem 1rem 1rem rgb(176, 172, 172);
    font-size: 1.5rem;

}

button:first-of-type {
    background-color: rgba(93, 18, 192, 0.785);
    margin-bottom: 1.5rem;
}

button:first-of-type:hover {
    background-color: rgba(71, 111, 215, 0.785);
    cursor: pointer;
}

button:nth-of-type(2) {
    background-color: rgba(10, 93, 42, 0.785);
}

button:nth-of-type(2):hover {
    background-color: rgba(24, 162, 56, 0.785);
    cursor: pointer;
}

button:nth-of-type(3) {
    background-color: rgba(117, 40, 10, 0.785);
}

button:nth-of-type(3):hover {
    background-color: rgba(227, 98, 17, 0.821);
    cursor: pointer;
}

button:last-of-type {
    background-color: rgba(149, 45, 137, 0.785);
}

button:last-of-type:hover {
    background-color: rgba(232, 10, 184, 0.821);
    cursor: pointer;
}

p {
    padding: 1rem 0;
    font-size: 1rem;
    color: rgb(172, 15, 15);
    font-weight: 600;
}