* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-width: 100vw;
    min-height: 100vh;
    display: grid;
    place-items: center;
}

form {
    background-color: rgb(222, 197, 159);
    text-align: center;
    height: 175px;
    padding: 1.5rem;
}

input{
    width: 4rem;
    margin : 1rem 0;
}

label {
    padding-bottom: 1.5rem;
    font-size: 1.1rem;
    font-weight: 600;
}

.submit {
    margin-top: 0;
}